/*autor(a): Rosimar Barrios*/
/*PALETA DE COLORES: #530615 #A8030F #A69C94 #F2F2F2 #262626*/
 
/*Fuente descargada*/
@font-face {
    font-family: "velocidad";
    src: url("./font/High_Speed.otf");
}

body {
    /*Igual a cero para quitar el margen predeterminado de la página*/
    margin: 0;
    padding: 0;

    /*Fuente para toda la pagina*/
    font-family: "Poppins", sans-serif;
}

main {
    /*Fondo para todo el main de la página*/
    background-color:  #d8d8d8;
}

/*PRIMERA SECTION. SECCIÓN PRINCIPAL*/
.fondo_text {
    /*Dimensiones*/
    width: 100%; 
    height: 100vh;
    padding-top: 12vh;

    /*Fondo imagen*/
    background-image: linear-gradient(#000000b3, #000000b3), url("../imagenes/landing_page/fondo_01.jpg"); 
    background-position: center;
    background-size: cover;

    /*Elementos dentro*/
    text-align: center; /*TEXT-ALING: permite establecer la alineación horizontal de un bloque de texto; CENTER: al centro*/
    color: #F2F2F2; /*color de los caracteres*/

    /*Vista de alineación de elementos*/  
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

/*Para hacer efecto parallax*/
.parallax {
    background-attachment: fixed;
}

/*Estilos específicos para los elementos dentro*/
.fondo_text p, .fondo_text h3, .fondo_text h1, .fondo_text div {
    margin: 5vh auto;
}
.fondo_text h1 {
    font-size: 45px;
    font-family: "velocidad";
    text-shadow: 5px 5px 10px #000;
}
.fondo_text h3 {
    font-size: 28px;
    text-shadow: 5px 5px 10px #000;
}
.fondo_text p {
    font-size: 20px;
}

/*PSEUDO-ELEMENTOS*/
.fondo_text p::before, .fondo_text p::after { 
    content: "↓";
    color: #f2f2f2;
    font-size: 25px;
}

/*Botones "Regístrate" e "Iniciar"*/
.fondo_text div {
    width: 60vw;
}
.button_registrate, .button_iniciar {
    /*Dimensiones*/
    height: 55px;
    width: 25vw;
    margin: 7% 3%;

    /*Bordes*/        
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #000;

    /*Texto del boton*/
    font-size: 26px;
    font-weight: 600; 
    color: #000;

    /*Transición*/
    transition: transform .3s;
}
.button_registrate {
    /*Fondo*/
    background-color: #d0c4b9ee; 
}
.button_iniciar {
    /*Fondo*/
    background-color: #A8030F;
}

/*PSEUDO-CLASES*/
.button_registrate:active {
    border: 2px solid #000;
    background-color: #d3d3d3;
    transform: scale(.9);
}
.button_iniciar:active { 
    border: 2px solid #000;
    background-color: #ec3542;
    transform: scale(.9);
}
.button_registrate:hover {
    background-color: #d5d5d5;
}
.button_iniciar:hover {
    background-color: #d5303b;
}


/* SEGUNDA SECTION. SECCIÓN DE PRESENTACIÓN DE SERVICIO */
/*Titulo de esa section*/
h2 {
    margin: 15vh 2vh;
    color: #000;
    text-align: center;
    font-size: 45px;
    text-shadow: 5px 0px 8px #a8030f82, -5px 0px 8px #A8030F82; /*TEXT-SHADOW: agrega sombras al texto; VALOR: eje X, eje Y, desenfoque, color*/
}
.cont {
    margin: 15vh auto;
}
.cont_servicio {
    /*Estructura*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
    margin: 7% 3%;
}
/*Textos dentro*/
.text_servicio_izq, .text_servicio_der {
    padding: 10px;   
    margin: 0 3%;
    text-align: center;
    color: #f2f2f2;

    /*Alinear ;)*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*Animación*/
    animation: fondo_dinamico 5.5s linear infinite;
    
    /*Fondo*/
    background: linear-gradient( to right top,  #2b1717, #3b0510, #a8030eee, #3b0510,  #2b1717);
    background-size: 400% 400%;
}
.text_servicio_der {
    /*Radio de los bordes*/
    border-bottom-left-radius: 50px; 
    border-top-right-radius: 50px;
}
.text_servicio_izq {
    /*Radio de los bordes*/
    border-top-left-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.text_servicio_der, .text_servicio_izq, .img_servicio_der , .img_servicio_izq {
    /*Transición */
    transition: transform 1s ease-in-out; 
} 

/*PSEUDO-CLASES*/
.text_servicio_der:hover, .text_servicio_izq:hover, .img_servicio_der:hover, .img_servicio_izq:hover { /*HOVER: cuando el cursor pasa sobre un elemento*/
    transform: scale(1.1); 
}

/*Para animación*/
@keyframes fondo_dinamico { 
    0% {
        background-position: 0% 50%;
    } 25% {
        background-position: 50% 50%;
    } 50% {
        background-position: 100% 50%;
    } 75% {
        background-position: 50% 50%;
    } 100% {
        background-position: 0% 50%;
    }
}

/*Tamaño de fuentes*/
.text_servicio_der h3, .text_servicio_izq h3 {
    font-size: 24px;
}
.text_servicio_der p, .text_servicio_izq p {
    font-size: 18px;
}

/*Imágenes dentro*/
.img_servicio_izq, .img_servicio_der{
    /*Dimensiones*/
    height: 200px;
    width: 80%;

    /*Ajuste de imagen*/
    object-fit: cover;
}
.img_servicio_der {
    margin-right: auto;
    padding-left: 3%;

    /*Forma de los bordes*/
    border-top-left-radius: 20%; 
    border-bottom-right-radius: 20%;
}
.img_servicio_izq {
    margin-left: auto;
    padding-right: 3%;

    /*Forma de los bordes*/
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%; 

    object-position: top; 
}

/*Invitación al servicio*/
.invita_servicio {
    padding: 5vh 0;

    text-align: center;
    font-size: 28px;
    color: #f2f2f2;
    text-shadow: 5px 0px 8px #a8030f82, -5px 0px 8px #a8030f82;

    background-image: linear-gradient(#000000b3, #000000b3), url("../imagenes/landing_page/fondo_02.jpg"); 
    background-position: center;
    background-size: cover;
}
/*Parrafos de invitación al servicio*/
.invita_servicio_reg {
    /*Tamaño*/
    font-size: 35px;
}
.invita_servicio_reg a {
    /*Para quitar la línea decorativa predeterminada de los enlaces*/
    text-decoration: none; 

    /*Texto*/
    color: #ff414e;
    font-family: "velocidad";
    font-size: 30px;

    margin: auto 5px;
}


/* TERCERA PARTE. SECCION DE BASES ORGANIZACIONALES  */
 .cont_bases {
    /*Estructura*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3vw;
    margin: 9vh 2vw 0vh 2vw;
}
.text_bases {
    text-align: center;
    margin: 6vh 0;
    padding: 10px;

    /*Alinear elementos*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*Borde*/
    border: 8px dotted #262626;
}

/*PSEUDO-CLASES*/
.text_bases:hover {
    /* Fondo */
    background: linear-gradient( to right top, #a69c94, #f2f2f2bb, #f2f2f2bb,  #a69c94);
}

/*Elementos p, ul, li*/
.text_bases p {
    /*Tamaño y margen*/
    font-size: 18px;
    margin: 20px 0;
}
.text_bases h3 {
    /*Tamaño del texto y tipografía*/
    font-size: 24px;
    font-family: "velocidad";
}
.text_bases ul {
    /*Para quitar los estilos predeterminados de las listas*/
    list-style: none; 

    /*Igual a cero para quitar el padding predeterminado de las listas*/
    padding: 0;
}
.text_bases li {
    /*Tamaño y margen*/
    font-size: 20px;
    margin: 14px 0;
}


/*TAMAÑOS en px: 
H1  7vw
H2  40
H3  4.5
P   18*/

/*DISEÑO RESPONSIVE PARA TELÉFONOS*/
@media (max-width: 720px) and (max-height: 1280px) {
    * {
        max-width: 100vw; 
    }

    /*PRIMERA SECTION. SECCIÓN PRINCIPAL*/
    .fondo_text {
        padding-top: 15vh;
    }
    .fondo_text p, .fondo_text h3, .fondo_text h1, .fondo_text div {
        margin: 3vh auto;
    }
    .fondo_text h1 {
        font-size: 7vw;
    }
    .fondo_text h3 {
        font-size: 4.5vw;
    }
    .fondo_text p {
        font-size: 3.8vw;
    }
    .button_registrate, .button_iniciar {
        width: 40vw;
        font-size: 4.5vw;
    }
    /* SEGUNDA SECTION. SECCIÓN DE PRESENTACIÓN DE SERVICIO */
    h2 {
        font-size: 6vw;
        margin-bottom: auto;
    }
    .cont_servicio {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        margin: 15vh 2vh;
    }
        /* cajas de texto */
    .text_servicio_izq, .text_servicio_der {
        justify-content: center; 
        border-radius: 50px;
    }
    .text_servicio_der h3, .text_servicio_izq h3 {
        font-size: 5vw;
    }
    .text_servicio_der p, .text_servicio_izq p {
        font-size: 3.5vw;
    }
        /* imagenes */
    .img_servicio_izq, .img_servicio_der {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        height: 300px;
    }
    .img_servicio_izq {
        margin-top: auto;
        margin-bottom: 0;
    }
    .img_servicio_der {
        margin-top: 0;
        margin-bottom: auto;
    }
        /* párrafos de invitación*/
    .invita_servicio , .invita_servicio_reg , .invita_servicio_reg a{
        font-size: 6vw;
        margin: 7vh 2vh;
    }
    /* TERCERA PARTE. SECCION DE BASES ORGANIZACIONALES  */
    .cont_bases {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 20vw auto auto auto;
    }
    .text_bases {
        margin: auto 4vh 10vh 4vh;
        justify-content: center;
        background: linear-gradient( to right top, #a69c94, #f2f2f2bb, #f2f2f2bb,  #a69c94);
    }
    .text_bases p {
        font-size: 3.5vw;
        margin: 10px 0;
    }
    .text_bases h3 {
        font-size: 5vw;
        margin: 10px auto;
    }
    .text_bases ul {
        margin: auto;
    }
    .text_bases li {
        font-size: 3.5vw;
        margin: 8px 0;
    }
}
