body {
    font-family: var(--tipo-principal);
    font-size: 150%;
    line-height: 1.4em;
    min-height: 100vh;
    background-color: black;
    color: var(--negro);
    -webkit-hyphens: auto;
            hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

section{transform: scale(60%);}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }


.carrousel {
  width:  100%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.carrousel .grande {
  width: 400%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc( 100% / 4 - 2em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
  background-color: red;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }

  :root {
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    
  }

.imga{
    text-align:center;
}

.contenedor{
    color: #f2f2f2;
    margin: 0 auto;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-centrado{
    text-align: center;
}

.precio{
    font-size: 50px;
    color: #262626;
    text-align: center;
}

.btc-precio{
    background: #a8030f;
    display:block;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: xx-large;
    font-family: "velocidad";
    text-align: center;
}

.btc-precio:hover{
    background: #a69c94;
}

@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px){
    .columna{
        width: 100%;
        margin-bottom: 30px;
    }
}

.text{
    text-align: center;
}
